*
!PCF_intron_finder.py
!PCF_intergenic_calculator.py
!PCF_longest_read_extractor.py
!bed_renamer.py
!PCF_gff3_prep.sh
!PCF_infile_maker.py
!.gitignore
!PCF.py
!PCF.sh
!PCF_species.txt
!minimap2.sh
!samtools_sort.sh
!samtools_view_256.sh
!samtools_view_2048.sh
!README.md
